@use './variables' as *;

// 混入函数
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: $bg-darker;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: $bg-light;
    border-radius: 3px;

    &:hover {
      background: $bg-lighter;
    }
  }
}

@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin button-reset {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;

  &:focus {
    outline: 2px solid $primary-color;
    outline-offset: 2px;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

@mixin input-style {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background: $bg-darker;
  color: $text-primary;
  font-family: inherit;
  transition: border-color $transition-fast;

  &:focus {
    outline: none;
    border-color: $primary-color;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
