@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.chatInterface {
  @include flex-column;
  height: 100%;
  background: $bg-darker;
  border-radius: $border-radius-lg;
  overflow: hidden;
}
